@import url(reset.css);
@import url(type.css);
@import url(grid.css);
@import url(layout.css);
@import url(bootstrap.css);

a { color: #d92121; }

.red { color: #d92121; }

.red_line_bottom { border-bottom: 2px solid #d92121;}

.red_line_top { border-top: 2px solid #d92121;}

.light_gray_line_top { border-top: 2px solid #f5f5f5;}

.red_button {
	background: #eb2323;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViMjMyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYjFlMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eb2323 0%, #cb1e1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb2323), color-stop(100%,#cb1e1e));
	background: -webkit-linear-gradient(top,  #eb2323 0%,#cb1e1e 100%);
	background: -o-linear-gradient(top,  #eb2323 0%,#cb1e1e 100%);
	background: -ms-linear-gradient(top,  #eb2323 0%,#cb1e1e 100%);
	background: linear-gradient(to bottom,  #eb2323 0%,#cb1e1e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb2323', endColorstr='#cb1e1e',GradientType=0 );
	
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	-o-border-radius:      3px;
	-ms-border-radius:     3px;
	border-radius:         3px;
	
	padding: .2em 1em;
	display: inline-block;
	margin: 10px 0 0;
	color: #fff;
	font-size: .9em;
	text-decoration: none;
	
	-webkit-text-shadow: 0 1px 0 #c70202;
	-moz-text-shadow:    0 1px 0 #c70202;
	-o-text-shadow:      0 1px 0 #c70202;
	-ms-text-shadow:     0 1px 0 #c70202;
	text-shadow:         0 1px 0 #c70202;
	
}

#container .red_line_top h1 { margin-top: 8px; }